body, button.TitleBar{
	background: #5D5FEF;
	color: white;
	margin: 0px;
	border: none;
	border-radius: 
}
button.TitleBar{
	margin: 10px 20px 10px 20px;
	padding: 0px;
}
div.Main{
	position: absolute;
	background: #FF0051;
	top: 160px;
    bottom: 30px;
    left: 50px;
    right: 10px;
}
div.TitleBarMain{
	background: #FF0051;
	margin: 30px 50px 0px 10px;
	height: 100px;
}
div.Registration, div.Settings{
	align-items: center;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
div.InRegistration{
	flex-direction: column;
	gap: 10px;
	display: flex;
}
input.Registration{
	background: rgba(255, 255, 255, 0.1);
	width: 500px;
	display: block;
	border: none;
	height: 15px;
	color: white;
}
div.TitleBar{
	display: block;
}
.TitleBar{
	font-size: 30px;
}
h2.Registration, h2.Settings{
	margin: 20px 0px;
}
div.ChildRegistration, div.ChildSettings{
	display: flex;
	flex-direction: column;
	width: 500px;
	padding: 20px;
	gap: 20px;
	background: #5D5FEF;
}
div.InMain{
	display: grid;
	position: absolute;
	top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
	overflow: auto;
	flex-direction: column;
	gap: 20px;
}
span.TitleBarName{
	font-size: 40px;
	margin-left: 100px;

}
span.TitleBarDataTime{
	margin-right: 30px;
	float: right;
}
/* Стилизация всей полосы прокрутки */
::-webkit-scrollbar {
    width: 12px;       /* Ширина вертикальной полосы прокрутки */
    height: 12px;      /* Высота горизонтальной полосы прокрутки */
}

/* Стилизация области полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}

/* Стилизация ползунка */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

/* Изменение цвета ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.InSettings{
	flex-direction: column;
	gap: 10px;
	display: flex;
}
.Settings_s{
	flex-wrap: wrap;
	column-gap: 20px;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 30px 0px;
	background: #FF0051;
	display: flex;
}
.InSettingsWindow{
	margin: 0px auto;
	height: 150px;
	width: 180px;
	background: #5D5FEF;
}
.InSettingsTitlebar{
	background: #FF0051;
	margin: 9px 15px 0px 3px;
	height: 30px;
	display: block;
}
.InSettingsMain{
	margin: 9px 3px 9px 15px;
	height: 93px;
	display: block;
	background: #FF0051;
}
